/* Post detail container */
.post-detail-container {
  padding: 20px;
  background: #f9f9f9; /* Couleur de fond mise à jour pour correspondre à celle de MainPage */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Post content */
.post-detail-content {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #444;
}

/* Post author */
.post-detail-author {
  font-size: 0.9rem;
  color: #007bff;
}

/* Back link */
.back-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}
